.body {
    background-color: cornflowerblue;

}


.container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20;

}

.card {
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer
}

.card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #E1BEE7;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom;
}

.card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #4124aa;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: bottom;
}

.card:hover::after {
    transform: scaleY(1)
}

.fonts {
    font-size: 11px
}

.buttons button:nth-child(1) {
    border: 1px solid #3824aa !important;
    color: #3124aa;
    height: 40px
}

.buttons button:nth-child(1):hover {
    border: 1px solid #242daa !important;
    color: #fff;
    height: 40px;
    background-color: #3124aa
}

.buttons button:nth-child(2) {
    border: 1px solid #3d24aa !important;
    background-color: #f7f7f7;
    color: #fff;
    height: 40px
}


.project {
    text-align: center;
}