<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Home Page</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">



</head>

<body class="body">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Homepage</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'project' %}">Project Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'cv' %}">Cv Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact Page</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>




    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card p-3 py-4">
                    <div class="text-center"> <img src="{% static 'image.jpeg' %}" width="100" class="rounded-circle">
                    </div>
                    <div class="text-center mt-3"> <span class="bg-secondary p-1 px-4 rounded text-white">Student</span>
                        <h5 class="mt-2 mb-0">Tabish Amjad</h5> <span>Web Developer</span>
                        <h6 class="mt-2 mb-0">23</h6>
                        <h6 class="mt-2 mb-0">Lives in Lahore</h6>
                        <h6 class="mt-2 mb-0">Bachelors in CS from FCCU.</h6>
                        <h6 class="mt-2 mb-0">Interested in Basketball, Netflix, Stand Up Comedy, Coding.</h6>
                        <br>



                        <div class="buttons">
                            <button class="btn btn-outline-primary px-4">
                                <a href="Contactpage.html">Leave a Message</a>
                            </button>
                            <button class="btn btn-primary px-4 ms-3">
                                <a href="Contactpage.html">Contact</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>